@model IEnumerable<FarmerTracker.Models.Product>

@{
    ViewData["Title"] = "Index";
}
@* <script type='text/javascript'
  src='http://code.jquery.com/jquery-1.9.1.js'></script>
<link rel="stylesheet" type="text/css"
  href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
<script type='text/javascript'
  src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

<script type='text/javascript'>
$(window).load(function()
{
    $('#search').popover();
});
</script> *@
 
<br />

<form asp-controller="Employees" asp-action="Index">
    <div class="input-group">
        <div class="row">

            <div class="col-4">
                
                    <input type="search" id="search" name="searchString" class="form-control" placeholder="Search" />
                    <div>
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" >Search</button>
                    </div>
                
            </div>

            <div class="col-3">
                    <input class="form-check-input" id="typeRd" type="checkbox" name="Ptype">
                    <label class="form-check-label" for="typeRd">
                    Product Type
                    </label>
            </div>


            <div class="col-4">
                <select class="form-select" id="Ptype" disabled="disabled">
                        <option selected>Product Type </option>
                        <option value="Fruit">Fruit</option>
                        <option value="Vegetable">Vegetable</option>
                        <option value="Grain">Grain</option>
                        <option value="Dairy">Dairy</option>
                        <option value="Meat">Meat</option>
                        <option value="Other">Other</option>
                </select>
                </div>
            </div>

            
                <div class="col-2">
                    <input class="form-check-input" id="typeRd" type="checkbox" name="PDate">
                    <label class="form-check-label" for="typeRd">
                    Date Range
                    </label>
                </div>

                    <div class="col"  >
                       
                       Start:<input type="date" id="start" name="trip-start" min="2022-01-01" max="2025-12-31" >
                    </div>
                    

                    <div class="col">
                        
                     End : <input type="date" id="start" name="trip-start" min="2022-01-01" max="2025-12-31" >
                    </div>
                
            
        </div>
    </div>
</form>



<br />

<div class="container">
<table class="table ">
    <thead>
        <tr class="table-secondary">
            <th>
                @Html.DisplayNameFor(model => model.ProductId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ptype)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                
            </th>
            
        </tr>
    </thead>
    
@if (Model==null)
{
    <p> No Data Found</p>
}
else
{
    <tbody>
    @foreach (var item in Model) 
    {
            <tr class="table-info">
                <td>
                    @Html.DisplayFor(modelItem => item.ProductId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ptype)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pdate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.FullName)
                </td> 
            </tr>
    } 
        </tbody>
   
} 
</table>
 </div>