@model IEnumerable<FarmerTracker.Models.Product>
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Profile";
}
<h2>Welcome @Context.Session.GetString("FullName")</h2>


<p>
    <a asp-action="Create" class="btn btn-primary">Add New Product</a>
</p>




<table class="table">
    <thead>
        <tr class="table-light">
            <th>
                @Html.DisplayNameFor(model => model.ProductId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ptype)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pdate)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.Price)   
            </th>
        </tr>
    </thead>
    <tbody>

@foreach (var item in Model) {
        <tr class="table-success">
            <td>
                @Html.DisplayFor(modelItem => item.ProductId)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.Pname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ptype)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pdate)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Price)
            </td> 
        </tr>
} 
    </tbody>
</table